@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Montserrat', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:#b9a39e; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #04212d; 
  }

  i{
    cursor: pointer;
  }

  i:hover{
    color:aliceblue
  }
  
  .nav-link{
    @apply mx-4 bg-slate-400 px-1 py-1;
  }
  
  .active {
    @apply text-white bg-orange-300;
  }